@font-face {
  font-family: "iconfont"; /* Project id 3407262 */
  src: url('iconfont.woff2?t=1652769263284') format('woff2'),
       url('iconfont.woff?t=1652769263284') format('woff'),
       url('iconfont.ttf?t=1652769263284') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfanhui:before {
  content: "\e600";
}

.iconzhankai1:before {
  content: "\e667";
}

